@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

.home-bg {
  background: linear-gradient(
      to top,
      --alpha(var(--color-sky-700) / 40%),
      --alpha(var(--color-indigo-950) / 40%)
    ),
    url("/src/images/bg.jpg");
}
